
.titulo-habitaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

    .titulo-habitaciones h2 {
        font-family: "Cinzel", serif;
        font-size: 32px;
        color: #d3ab4d;
    }


.table-habitaciones {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .table-habitaciones th,
    .table-habitaciones td {
        padding: 12px 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .table-habitaciones th {
        background-color: #343a40;
        color: #fff;
        text-transform: uppercase;
    }

    .table-habitaciones tr:hover {
        background-color: #f1f1f1;
    }

.btn-reservar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

    .btn-reservar:hover {
        background-color: #218838;
        color: white;
    }
